@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply m-0 p-0;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  .contact-bg {
    background-image: url("./image/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 90% 140%; /* desktop */
  }
  .hero-bg {
    background-image: url("./image/logo.png");
    background-position: center 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 90% 140%;
  }

  @media (max-width: 899px) {
    .hero-bg,
    .contact-bg {
      background-size: 100% 120%; /* más compacto en móvil */
      background-attachment: fixed; /* fixed no funciona bien en iOS */
    }
  }

  @media (max-width: 659px) {
    .hero-bg,
    .contact-bg {
      background-size: 110% 120%; /* más compacto en móvil */
      background-attachment: fixed; /* fixed no funciona bien en iOS */
    }
  }

  @media (max-width: 520px) {
    .hero-bg,
    .contact-bg {
      background-size: 120% 130%; /* ajuste fino para móviles pequeños */
    }
  }

  @media (max-width: 400px) {
    .hero-bg,
    .contact-bg {
      background-size: 140% 130%; /* ajuste fino para móviles pequeños */
    }
  }

  /*beat*/
  @keyframes spin-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 4s linear infinite;
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
